.filled-in {
    color: #008;
    font-family: monospace;
}

.notop {
    margin-top: 0;
}

th {
    width: 5em;
    text-align: center;
    font-weight: normal;
}

td {
    text-align: center;
}

table {
    margin-bottom: 10px;
}
